<div id="status" class="navbar navbar-fixed-bottom">
    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <p> Vitalii Kulbachenko &nbsp;&mdash;&nbsp;&copy; 2017</p>
        </div>
        <div class="btn-group">
            <a href="#"><span class="separator"></span><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Log out</a>
        </div>
    </div>
</div>
