<header class="header">
    <div class="container-logo">
        <img src="{{ base_url() }}/img/logo.png" class="logo" alt="logo">
    </div>
    <div class="container-title ">
        <h1 class="page-title">
            <div class="navbar-header">
                <a href="#" id="sidebarCollapse"> <i class="glyphicon glyphicon-menu-hamburger"></i></a>
            </div>
            &nbsp Control Panel
        </h1>
    </div>
</header>